.recipe-container {
    display: grid;
    padding: 0 10% 0 10%;
}

.recipe-item {
    margin: 0.5rem;
    background: #1b1b1b;
    border: 3px solid #617c93;
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.recipe-search {
    margin: 10px;
    background: #1b1b1b;
    border: 3px solid #617c93;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
}

.recipe-item h2 {
    color: #617c93;
}

input[type=text]:not(.MuiInputBase-input) {
    border-radius: 5px;
    background: white;
    border: 2px solid #191645;
    color: white;
    padding: 5px;
    margin-right: 5px;
}

button {
    padding: 10px;
    font-size: 1rem;
}

button:active {
    background: #506f8c;
    -webkit-box-shadow: inset 0px 0px 5px #506f8c;
       -moz-box-shadow: inset 0px 0px 5px #506f8c;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

.recipe-content img {
    width: 80%;
    border-radius: 20px;
}

.recipe-content {
    text-align: center;
    width: 40%;
}

.recipe-item h4 {
    color: #617c93;
}

#search-header {
    color: white;
    text-align: left;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.caps {
    text-transform: capitalize;
}

iframe.youtubeEmbed {
    width: 100%;
    aspect-ratio: 16/9;
}

.workout-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}