.recipe-container {
    display: grid;
    padding: 0 10% 0 10%;
    grid-template-columns: 50% 50%;
}
.recipe-item {
    margin: 0.5rem;
    background: #7ea1a8;
    border: 3px solid #506f8c;
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

input[type=text]:not(.MuiInputBase-input), button {
    border-radius: 5px;
    background: #6b9294;
    border: 2px solid #506f8c;
    color: white;
    padding: 5px;
}

button {
    padding: 10px;
    font-size: 1.1rem;
}

button:active {
    background: #506f8c;
    -webkit-box-shadow: inset 0px 0px 5px #506f8c;
       -moz-box-shadow: inset 0px 0px 5px #506f8c;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

.recipe-content img {
    width: 80%;
    border-radius: 20px;
}

.recipe-item h3 {
    color: #506f8c;
}

.recipe-content {
    text-align: center;
}

.recipe-item h4 {
    color: #617c93;
}

.caps {
    text-transform: capitalize;
}

iframe.youtubeEmbed {
    width: 100%;
    aspect-ratio: 16/9;
}