.profile-container {
  display: grid;
  margin: 1rem 5% 1rem 5%;
  padding: 0 0 0 0;
  border: 3px solid #617c93;
  border-radius: 10px;
  background: #1b1b1b;
}
.profile-item {
  color: white;
  padding: 1rem;
  font-size: 25px;
}

.allergies-item{
  color: white;
  font-size: 18px;
  text-align: left;
  padding-left: 225px;
  padding-top: 10px;
}

input:not(.MuiInputBase-input),
button {
  border-radius: 5px;
  background: white;
  border: 2px solid black;
  color: black;
  padding: 5px;
}

select {
  border-radius: 5px;
  font-size: 18px;
  background: #6b9294;
  border: 2px solid black;
  color: white;
  padding: 5px;
  width: 10%;
}

button {
  padding: 10px;
  font-size: 2rem;
}

button:active {
  background: #506f8c;
  -webkit-box-shadow: inset 0px 0px 5px #506f8c;
  -moz-box-shadow: inset 0px 0px 5px #506f8c;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.profile-content img {
  width: 80%;
  border-radius: 20px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.left{
  width: 30%;
}
.right{
  width: 70%;
}

.MuiSlider-root {
  padding-top: 4%;
}