.workout-container {
    display: grid;
    padding: 0 10% 0 10%;
    grid-template-columns: 50% 50%;
}
.workout-item {
    margin: 0.5rem;
    background: #7ea1a8;
    border: 3px solid #506f8c;
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

input[type=text], button {
    border-radius: 5px;
    background: #6b9294;
    border: 2px solid #506f8c;
    color: white;
    padding: 5px;
}

input[type=checkbox] {
    transform: scale(2);
}

button {
    padding: 10px;
}

.workout-content img {
    width: 80%;
    border-radius: 20px;
}

.workout-item h3 {
    color: #506f8c;
}
